.div-container-login {
    justify-content: center;
    align-items: center;
}

.div-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C5C5C;
    flex-direction: column;
    height: auto;
    margin-bottom: 0rem;
    border-radius: 5px;
}

.div-login-elements {
    background-color: white;
    padding: 2rem;
    width: 100%;
    height: 100%;
    clip-path: ellipse(90% 90% at 60% 8%);
    border-radius: 5px;
}

.titulo-login {
    font-size: 19px;
    color: #5C5C5C;
    font-family: 'Ancizar sans', 'Tahoma', 'Geneva', 'sans-serif';
}

.div-elements-children {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.div-inputs-login {
    line-height: 40px;
}

.div-links-login {
    display: flex;
    justify-content: space-between;
}

.a-link-registra {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    margin: 0 3rem;
}

.a-link-registra:hover {
    color: orange;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    margin: 0 3rem;
}

.div-bottom-custom-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    height: 100%;
}

.p-info-login {
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    font-family: 'Ancizar sans', 'Tahoma', 'Geneva', 'sans-serif';
}

.div-container-registra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-registra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    background: #5C5C5C;
    flex-direction: column;
    margin: 3rem 0px;
}

.p-label-form-login {
    font-size: 15px;
    color: #5C5C5C;
    font-weight: 500;
    margin-top: 1rem;
}

@media (min-width: 760px) {}

@media (min-width: 1025px) {}