.div-pagination {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.div-pagina-link {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
}

.div-pagina-link-selected {
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 25px;
    height: 25px;
    align-items: center;
    border-radius: 20px;
}

.pagina-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none !important;
    color: #1C1D25;;
    border-radius: 20px;
}

.pagina-link:hover {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    background-color: #E3E3E3;
    border-radius: 20px;
}

.pagina-link-selected {
    display: flex;
    justify-content: center;
    width: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.pagina-link-selected:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-link {
    text-decoration: none;
}