.div-titulo-ds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icons-table-ds {
    margin: 0px 0px 0px 8px;
    color: blueviolet;
}

.icons-excel {
    margin: 0px 0px 0px 8px;
    color: green;
    font-size: 20px;
}

.icons-label-excel {
    margin: 0px 0px 0px 5px;
    color: green;
}

.icons-table-ds:hover {
    color: orange;
    margin: 0px 0px 0px 8px;
}

.margin-icons {
    margin: 0px;
}

.img-lista-solicitud {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
}

.img-lista-solicitud-modal{
    width: 100%;
    height: 25rem;
    object-fit: contain;
}

.div-action-images-padre {
    position: relative;
}

.div-action-images {
    display: flex;
    position: absolute;
    top: 0px;
    right: 5px;
}

.icons-image {
    margin: 0px 0px 0px 8px;
    color: orange;
    font-size: 20px;
}

.p-info-filtros{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.p-info-elementos-paginador{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: bold;
}

@media (min-width: 760px) {}

@media (min-width: 1025px) {

    .margin-icons {
        margin: 0px 5px;
    }
}