.div-menu-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    margin: 8px 0px;
}

.p-menu-principal-item {
    margin-left: 2rem;
    font-size: 19px;
    color: #5C5C5C;
    cursor: pointer;
}

.p-menu-principal-item-active {
    margin-left: 2rem;
    font-size: 19px;
    color: #5C5C5C;
    cursor: pointer;
    font-weight: bold;
}

.div-info-beneficiarios {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.div-slide-padre {
    height: 1.75rem;
    width: 3.5rem;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.div-slide-padre-active {
    height: 1.75rem;
    width: 3.5rem;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.div-slide-hijo {
    height: 100%;
    width: 50%;
    background-color: grey;
    border-radius: 20px;
    padding: 5px;
    transition: 0.5s;
}

.div-slide-hijo-active{
    height: 100%;
    width: 50%;
    margin-left: 50%;
    background-color: orange;
    border-radius: 20px;
    padding: 5px;
    transition: 0.5s;
}

.div-form-beneficiarios{
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.div-form-beneficiarios-active{
    overflow: hidden;
    height: 20rem;
    transition: 0.5s;
}

.div-info-item-ben {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 760px) {

    .div-info-beneficiarios {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 990px) {

    .div-menu-principal {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        padding: 0px 10px;
        margin: 0px 0px;
    }

    .div-form-beneficiarios-active{
        overflow: hidden;
        height: 12rem;
        transition: 0.5s;
    }

}